{% include 'sms_main/partials/_login_reg_header.html ' %}
<body class="hold-transition register-page">
<div class="register-box">
  <div class="register-logo">
    <a href="{% url 'demo' %}"><b>Admin</b>LTE</a>
  </div>

  <div class="card">
    <div class="card-body register-card-body">
      <p class="login-box-msg">Register a new membership</p>

      <form method="POST">
        {% csrf_token %}
        {% if form.non_field_errors %}
          <div class="alert alert-danger alert-dismissible text-center" role="alert">{{ form.non_field_errors }}</div>
        {% endif %}
        {% if form.first_name.errors %}
          <div class="alert alert-danger alert-dismissible text-center" role="alert">{{ form.first_name.errors }}</div>
        {% endif %}
        <div class="input-group mb-3">
          <input name="first_name" type="text" class="form-control" placeholder="First Name">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        {% if form.middle_initial.errors %}
          <div class="alert alert-danger alert-dismissible text-center" role="alert">{{ form.middle_initial.errors }}</div>
        {% endif %}
        <div class="input-group mb-3">
          <input name="middle_initial" type="text" class="form-control" style="border-right:1px solid rgb(206, 212, 208);" placeholder="Middle Initial">
        </div>
        {% if form.last_name.errors %}
          <div class="alert alert-danger alert-dismissible text-center" role="alert">{{ form.last_name.errors }}</div>
        {% endif %}
        <div class="input-group mb-3">
          <input name="last_name" type="text" style="border-right:1px solid rgb(206, 212, 208);" class="form-control" placeholder="Last Name">
        </div>
        {% if form.email.errors %}
          <div class="alert alert-danger alert-dismissible text-center" role="alert">{{ form.email.errors }}</div>
        {% endif %}
        <div class="input-group mb-3">
          <input name="email" id="id_email" type="email" class="form-control" placeholder="Email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        {% if form.password1.errors %}
          <div class="alert alert-danger alert-dismissible text-center" role="alert">{{ form.password1.errors }}</div>
        {% endif %}
        <div class="input-group mb-3">
          <input name="password1" type="password" class="form-control" placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        {% if form.password2.errors %}
          <div class="alert alert-danger alert-dismissible text-center" role="alert">{{ form.password2.errors }}</div>
        {% endif %}
        <div class="input-group mb-3">
          <input name="password2" type="password" class="form-control" placeholder="Retype password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="agreeTerms" name="terms" value="agree">
              <label for="agreeTerms">
               I agree to the <a href="#">terms</a>
              </label>
            </div>
          </div>
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Register</button>
          </div>
        </div>
      </form>
      <a href="{% url 'login' %}" class="text-center">I already have a membership</a>
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
<!-- /.register-box -->

{% include 'sms_main/partials/_login_reg_footer.html' %}