{% extends 'base.html' %}
{% load static %}

    {% block content %}
        <body class="hold-transition sidebar-mini layout-fixed">
            <div class="wrapper">

            <!-- Navbar -->
            {% include 'admin/partials/_navbar.html' %}

            <!-- Main Sidebar Container -->
            {% include 'admin/partials/_main_sidebar.html' %}

            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                {% include 'admin/partials/_main_content_header.html' %}

                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="col-md-6">
                            <!-- general form elements -->
                            <div class="card card-primary">
                              <div class="card-header">
                                <h3 class="card-title">Student Registration Form</h3>
                              </div>
                              <!-- form start -->
                                <form method="POST">
                                    <div class="card-body">
                                        {% csrf_token %}
                                        {% if form.non_field_errors %}
                                          <div class="alert alert-danger alert-dismissible text-center" role="alert">{{ form.non_field_errors }}</div>
                                        {% endif %}
                                        {% if form.first_name.errors %}
                                          <div class="alert alert-danger alert-dismissible text-center" role="alert">{{ form.first_name.errors }}</div>
                                        {% endif %}
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="first_name" placeholder="First Name">
                                        </div>
                                        {% if form.middle_initial.errors %}
                                          <div class="alert alert-danger alert-dismissible text-center" role="alert">{{ form.middle_initial.errors }}</div>
                                        {% endif %}
                                        <div class="form-group">
                                            <input type="text" class="form-control"name="middle_initial" placeholder="Middle Initial"maxlength="1" required>
                                        </div>
                                        {% if form.last_name.errors %}
                                          <div class="alert alert-danger alert-dismissible text-center" role="alert">{{ form.last_name.errors }}</div>
                                        {% endif %}
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="last_name" placeholder="Last Name" required>
                                        </div>
                                        {% if form.email.errors %}
                                          <div class="alert alert-danger alert-dismissible text-center" role="alert">{{ form.email.errors }}</div>
                                        {% endif %}
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="email" placeholder="Enter email" required>
                                        </div>
                                        {% if form.user_level.errors %}
                                          <div class="alert alert-danger alert-dismissible text-center" role="alert">{{ form.user_level.errors }}</div>
                                        {% endif %}
                                        <div class="form-group">
                                            <input type="hidden" class="form-control"name="user_level" placeholder="User Level" value="{{form.fields.user_level.initial}}" readonly>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="address" placeholder="Address">
                                        </div>
                                        {% if form.gender.errors %}
                                          <div class="alert alert-danger alert-dismissible text-center" role="alert">{{ form.gender.errors }}</div>
                                        {% endif %}
                                        <div class="form-group">
                                            <select class="form-control" name="gender">
                                              {% for k, v in form.fields.gender.choices %}
                                                <option value="{{k}}"
                                                {% if k == '' %}
                                                selected
                                                {% endif %}
                                                >{{v}}</option>
                                              {% endfor %}
                                            </select>
                                        </div>
                                        {% if form.password1.errors %}
                                          <div class="alert alert-danger alert-dismissible text-center" role="alert">{{ form.password1.errors }}</div>
                                        {% endif %}
                                        <div class="form-group">
                                            <input type="password" class="form-control" name="password1" placeholder="Password" required>
                                        </div>
                                        {% if form.password2.errors %}
                                          <div class="alert alert-danger alert-dismissible text-center" role="alert">{{ form.password2.errors }}</div>
                                        {% endif %}
                                        <div class="form-group">
                                            <input type="password" class="form-control" name="password2" placeholder="Confirm Password" required>
                                        </div>
                                        {% if form.course_id.errors %}
                                          <div class="alert alert-danger alert-dismissible text-center" role="alert">{{ form.course_id.errors }}</div>
                                        {% endif %}
                                        <div class="form-group">
                                            {{form.course_id}}
                                        </div>
                                        <div class="form-group">
                                            <input type="date" class="form-control" name="session_start" placeholder="Starting Session" value="{{form.fields.session_start.initial|date:'Y-m-d'}}" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="date" class="form-control" name="session_end" placeholder="Ending Session" value="{{form.fields.session_end.initial|date:'Y-m-d'}}">
                                        </div>
                                        <div class="form-group">
                                            <input class="btn btn-primary" type="submit" value="Submit">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div><!-- /.container-fluid -->
                </section>
            </div>
            </div>
        </body>
    {% endblock %}
