{% extends "base.html" %}
{% load static %}

{% block content %}
    <body class="hold-transition sidebar-mini layout-fixed">
        <div class="wrapper">

            <!-- Navbar -->
            {% include 'admin/partials/_navbar.html' %}
            <!-- /.navbar -->

            <!-- Main Sidebar Container -->
            {% include 'admin/partials/_main_sidebar.html' %}

            <!-- Content Wrapper. Contains page content -->
            {% include 'admin/partials/_main_content_wrapper.html' %}
            </div>
    </body>
{% endblock %}