{% extends 'base.html' %}
{% load static %}

    {% block content %}
        <body class="hold-transition sidebar-mini layout-fixed">
            <div class="wrapper">

            <!-- Navbar -->
            {% include 'admin/partials/_navbar.html' %}

            <!-- Main Sidebar Container -->
            {% include 'admin/partials/_main_sidebar.html' %}

            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                {% include 'admin/partials/_main_content_header.html' %}

                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="col-md-12">

                            <!-- general form elements -->
                                <div class="card">
                                  <div class="card-header bg-primary">
                                    <h3 class="card-title">Students List</h3>
                                    <button class="btn btn-sm btn-secondary text-light" id="detail-toggle">Show All Details</button>
                                    <div class="card-tools">
                                      <div class="input-group input-group-sm" style="width: 150px;">
                                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                        <div class="input-group-append">
                                          <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <!-- /.card-header -->
                                  <div class="card-body table-responsive p-0" style="height: 65vh;">
                                    <table class="table table-head-fixed text-nowrap table-striped">
                                      <thead>
                                        <tr>
                                          <th class="show-detail">ID</th>
                                          <th class="show-detail">User</th>
                                          <th class="show-detail">Email</th>
                                          <th class="show-detail">User Level</th>
                                          <th class="show-detail">Course</th>
                                          <th class="hide-more">Gender</th>
                                          <th class="show-detail">Status</th>
                                          <th class="hide-more">Date Registered</th>
                                          <th class="hide-more">Date Updated</th>
                                          <th class="hide-more">Last Login</th>
                                          <th class="hide-more">Latest School Year</th>
                                          <th class="hide-more">Address</th>
                                          <th class="hide-more">Profile Pic</th>
                                          <th class="show-detail">Action</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        {% for student in students_obj %}
                                        <tr>
                                          <td class="show-detail">{{student.user_profile.id}}</td>
                                          <td class="show-detail">{{student.user_profile.first_name}} {{student.user_profile.last_name}}</td>
                                          <td class="show-detail">{{student.user_profile.email}}</td>
                                          <td class="show-detail">
                                              {% if student.user_profile.user_level == 1 %}
                                                Admin
                                              {% elif  student.user_profile.user_level == 2 %}
                                                Students
                                              {% elif student.user_profile.user_level == 3 %}
                                                Student
                                              {% else %}
                                                Unknown
                                              {% endif %}
                                          </td>
                                          <td class="show-detail">{{student.course_id}}</td>
                                          <td class="hide-more">{{student.gender}}</td>
                                          <td class="show-detail">
                                              {% if student.user_profile.is_active %}
                                                Active
                                              {% else %}
                                                Deactivated
                                              {% endif %}
                                          </td>
                                          <td class="hide-more">{{student.date_created}}</td>
                                          <td class="hide-more">{{student.date_updated}}</td>
                                          <td class="hide-more">
                                              {% if student.user_profile.last_login %}
                                                {{student.user_profile.last_login}}
                                              {% else %}
                                                -
                                              {% endif %}
                                          </td>
                                          <td class="hide-more">{{student.school_year.get_school_year}}</td>
                                          <td class="hide-more">{{student.address}}</td>
                                          <td class="hide-more"><img src="{{student.user_profile.profile_pic.url}}" alt="{{student.user_profile.get_full_name}}" style="width: 40px;"></td>
                                          <td class="show-detail"><a href="{% url 'edit-student' student.user_profile.id %}" class="btn btn-sm btn-success">Edit</a> <a href="{% url 'delete-student' student.user_profile.id %}" class="btn btn-sm btn-danger">Delete</a></td>
                                        </tr>
                                      {% endfor %}
                                      </tbody>
                                    </table>
                                  </div>
                                  <!-- /.card-body -->
                                </div>
                            <!-- /.card -->
                          </div>
                    </div><!-- /.container-fluid -->
                </section>
            </div>
            </div>
        </body>
    {% endblock %}
