{% extends 'registration/base.html' %}
{% block title %}
Password Reset Complete
{% endblock %}
{% block content %}
    <div class="card">
      <div class="card-header bg-primary">
        <p id="login-title" class="mb-0 text-center">Password changed</p>
      </div>
        <div class="card-body login-card-body">
            <p>Your password has been changed. You may click the link below to log in with your new password.</p>
        </div>
        <div class="card-footer">
            <a href="{% url 'login' %}" class="text-center">Login</a>
        </div>
    </div>
{% endblock %}