{% extends 'registration/base.html' %}
{% block title %}
Password Reset Done
{% endblock %}
{% block content %}
    <div class="card">
      <div class="card-header bg-primary">
        <p id="login-title" class="mb-0 text-center">Check your email</p>
      </div>
        <div class="card-body login-card-body">
            <p>An email is sent to your email address containing the link and instructions on how to reset your password.</p>
        </div>
        <div class="card-footer">
            <a href="{% url 'login' %}" class="text-center">Login</a>
        </div>
    </div>
{% endblock %}