{% extends 'registration/base.html' %}
{% block title %}
Password Reset Form
{% endblock %}
{% block content %}

        <div class="card">
          <div class="card-header bg-primary">
            <p id="login-title" class="mb-0 text-center">Password Reset Form</p>
          </div>
            <div class="card-body login-card-body">
            <p class="login-box-msg">Please enter your email address to recover your password</p>
            {% for message in messages %}
            <p class="alert alert-{{message.tags}} alert-dismissible text-center" role="alert">{{message}}</p>
            {% endfor %}
            <form method="POST">
              {% csrf_token %}
              <div class="input-group mb-3">
                <input name="email" type="email" class="form-control" placeholder="Email">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                  </div>
                </div>
              </div>
              <div>
                <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
              </div>
            </form>
          </div>
          </div>

{% endblock %}