{% extends "base.html" %}
{% load static %}

{% block content %}
    <body class="hold-transition sidebar-mini layout-fixed">
        <div class="wrapper">

            <!-- Navbar -->
            {% include 'admin/partials/_navbar.html' %}
            <!-- /.navbar -->

            <!-- Main Sidebar Container -->
            {% include 'staff/partials/_staff_main_sidebar.html' %}

             <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                {% include 'admin/partials/_main_content_header.html' %}

                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="col-md-6">
                            <div class="card card-primary">
                              <div class="card-header">
                                <h3 class="card-title">Student Attendance Report</h3>
                              </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="staff_subject">Subject</label>
                                        <select class="form-control" name="staff_subject" id="staff_subject">
                                            <option value="">-Select a Subject-</option>
                                            {% for subj in subjects_obj %}
                                                <option value="{{subj.id}}">{{subj.subject_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="school_year">School Year</label>
                                        <select class="form-control" name="school_year" id="school_year">
                                            {% for sy in school_years_obj %}
                                                <option value="{{sy.get_id}}">{{sy.get_school_year}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button class="form-control btn btn-primary btn-block" name="btn_fetch_attendance" id="btn_fetch_attendance">Fetch Attendance Date</button>
                                    </div>
                                    <div class="form-group" name="attendance_list" id="attendance_list">
<!--                                        ATTENDANCE LIST GOES HERE-->
                                    </div>
                                    <div class="form-group">
                                        <button class="form-control btn btn-success btn-block" name="btn_view_attendance" id="btn_view_attendance" disabled="disbaled">View Attendance</button>
                                    </div>
                                    <div class="form-group" name="students_list" id="students_list">
<!--                                        STUDENT LIST GOES HERE-->
                                    </div>
                                    <div class="form-group">
                                        <button class="form-control btn btn-primary btn-block" name="btn_save_attendance_report" id="btn_save_attendance_report" disabled="disbaled">Save Attendance Report</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
             </div>
        </div>
        <script>
            console.log("Document Ready");
            document.getElementById("btn_fetch_attendance").addEventListener("click", fetchAttendance);
            document.getElementById("btn_view_attendance").addEventListener("click", viewAttendance);
            document.getElementById("btn_save_attendance_report").addEventListener("click", saveAttendanceReport);
            document.getElementById("school_year").addEventListener("change", resetAttendanceList);
            document.getElementById("staff_subject").addEventListener("change", resetAttendanceList);


            function resetAttendanceList() {
                document.getElementById("attendance_list").innerHTML = "";
                document.getElementById("btn_view_attendance").setAttribute("disabled", "disabled");
                document.getElementById("btn_save_attendance_report").setAttribute("disabled", "disabled");
                document.getElementById("students_list").innerHTML = "";
            }

            function fetchAttendance(e) {
                e.preventDefault();
                console.log("fetching attendance...");

                <!-- Get field values for ajax parameters -->
                const staff_id = {{user.id}}
                const subject_id = document.getElementById("staff_subject").value;
                const school_year_id = document.getElementById("school_year").value;


                <!-- JSON stringify data parameters -->
                let data = JSON.stringify({'staff_id': staff_id, 'subject_id': subject_id, 'school_year_id': school_year_id});

                const xhr = new XMLHttpRequest()
                xhr.open("POST", "{% url 'ajax-staff-fetch-attendance-report' %}");
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.onload = function() {
                    const attendanceContainer = document.getElementById("attendance_list");
                    if (this.status == 200) {
                        const attendance = JSON.parse(this.responseText);
                        htmlBlock = "<div class='form-group'>";
                        if (attendance.length > 0) {
                            console.log(attendance);
                            htmlBlock = "<select class='form-control' name='attendance' id='attendance'>"
                            attendance.forEach(att => {
                               htmlBlock += "<option value='" + att.pk + "'>"+
                               att.fields.attendance_date +
                               "</option>";
                            });
                            htmlBlock += "</select>"
                            document.getElementById("btn_view_attendance").removeAttribute("disabled", "disabled");
                        }
                        else {
                            htmlBlock += "<p class='bg-warning text-center rounded p-1'>There are no attendance on this subject in the selected school year.</p>"
                        }
                        htmlBlock += "</div>";
                        attendanceContainer.innerHTML = htmlBlock;
                    }
                    else {
                        htmlBlock = "<p>Unable to fetch attendance records.</p>";
                        attendanceContainer.innerHTML = htmlBlock;
                    }

                };
                xhr.send(data);
            }

            function viewAttendance() {
                const xhr = new XMLHttpRequest();
                const attendance = document.getElementById("attendance").value;
                const subject_id = document.getElementById("staff_subject").value;
                const school_year_id = document.getElementById("school_year").value;

                xhr.open("POST", "{% url 'ajax-view-student-attendance' %}");
                xhr.setRequestHeader("Content-Type", "application/json");

                xhr.onload = function() {
                    if (this.status == 200) {
                        console.log("viewing attendance successful");
                        const attendance_list = JSON.parse(this.responseText);
                        htmlBlock = "";
                        attendance_list.forEach(student=>{
                            <!-- Student[2] - third array that contains the is_present value  -->
                            if (student[2].is_present){
                                htmlBlock += "<div class='form-control'><label><input type='checkbox' value='"+ student[0].id +"' name='students[]' checked> " + student[1].full_name + "</label></div>"
                            }
                            else {
                                htmlBlock += "<div class='form-control'><label><input type='checkbox' value='"+ student[0].id +"' name='students[]' > " + student[1].full_name + "</label></div>"
                            }
                        });
                        document.getElementById("students_list").innerHTML = htmlBlock;

                        const students = document.getElementsByName("students[]")
                        console.log(students);
                        students.forEach(stud => {
                            console.log("adding change");
                            stud.addEventListener("click", function() {
                                console.log("change");
                                document.getElementById("btn_save_attendance_report").removeAttribute("disabled");
                            });
                        });

                    }
                    else {
                        console.log("Error: 400");
                    }
                };

                const data = JSON.stringify({'attendance':attendance, 'subject_id':subject_id, 'school_year_id':school_year_id});

                xhr.send(data);
            }

            function saveAttendanceReport() {
                const new_attendance = document.getElementsByName("students[]");
                const subject_id = document.getElementById("staff_subject").value;
                const attendance_id = document.getElementById("attendance").value;
                id_list = [];
                new_attendance.forEach(stud => {
                    if (stud.checked) {
                        id_list.push({'id':stud.value, 'status':1});
                    }
                    else {
                        id_list.push({'id':stud.value, 'status':0});
                    }

                });
                data = JSON.stringify({'id_list':id_list, 'attendance_id':attendance_id})
                const xhr = new XMLHttpRequest();

                xhr.open("POST", "{% url 'ajax-update-student-attendance-report' %}");
                xhr.setRequestHeader("Content-Type", "application/json");

                xhr.onload = function() {
                    if (this.status == 200) {
                        console.log("viewing attendance successful");
                    }
                    else {
                        console.log("Error: 400");
                    }
                    <!--Redirect user to main dashboard for alert message status-->
                    location.href = "/sms/staff/dashboard/";
                };
                xhr.send(data);
            }

        </script>
    </body>
{% endblock %}