{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img src="{% static 'dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">SMS v1</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        {% if user.profile_pic.url %}
          <img src="{{user.profile_pic.url}}" class="img-circle elevation-2" alt="User Image">
        {% else %}
          <img src="/media/default.png" class="img-circle elevation-2" alt="User Image">
        {% endif %}
      </div>
      <div class="info">
        <a href="#" class="d-block">{{user.first_name}}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
<!--                      ADMIN -->
        <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Admin
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="./index.html" class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p>Admin Dashboard</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="./index.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Admin</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="./index2.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Manage Account Profile</p>
              </a>
            </li>
          </ul>
        </li>
<!--                      STAFF -->
        <li class="nav-item has-treeview menu-close">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>
              STAFF
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'add-staff' %}" class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Staff</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'manage-staff' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Manage Staff</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="./index.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>View Feedbacks</p>
              </a>
            </li>
          </ul>
        </li>
<!--                      STUDENT -->
        <li class="nav-item has-treeview menu-close">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>
              STUDENTS
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'add-student' %}" class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Student</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'manage-students' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Manage Students</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="./index.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>View Feedbacks</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="./index.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>View Attendance</p>
              </a>
            </li>
          </ul>
        </li>
<!--                      COURSES  -->
        <li class="nav-item has-treeview menu-close">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-certificate"></i>
            <p>
              COURSES
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'add-course' %}" class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Course</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'manage-courses' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Manage Courses</p>
              </a>
            </li>
          </ul>
        </li>
<!--                      SUBJECTS -->
        <li class="nav-item has-treeview menu-close">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>
              SUBJECTS
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'add-subject' %}" class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Subject</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'manage-subjects' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Manage Subject</p>
              </a>
            </li>
          </ul>s
        </li>

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>