<!-- Modal -->
<div class="modal fade" id="adminReplyModal" tabindex="-1" role="dialog" aria-labelledby="adminFeedbackReply" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="adminFeedbackReply">Feedback Reply</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <textarea class="form-control" name="admin_reply" id="admin_reply" cols="55" rows="10"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="reply_send_btn">Send</button>
      </div>
    </div>
  </div>
</div>