{% extends 'base.html' %}
{% load static %}

    {% block content %}
        <body class="hold-transition sidebar-mini layout-fixed">
            <div class="wrapper">

            <!-- Navbar -->
            {% include 'admin/partials/_navbar.html' %}

            <!-- Main Sidebar Container -->
            {% include 'admin/partials/_main_sidebar.html' %}

            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                {% include 'admin/partials/_main_content_header.html' %}

                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="col-md-6">
                            <!-- general form elements -->
                            <div class="card card-primary">
                              <div class="card-header">
                                <h3 class="card-title">Staff Registration Form</h3>
                              </div>
                              <!-- form start -->
                              <form method="POST">
                                <div class="card-body">
                                {% csrf_token %}
                                  {% if form.non_field_errors %}
                                      <div class="alert alert-danger alert-dismissible text-center" role="alert">Error: {{ form.non_field_errors }}</div>
                                  {% endif %}
                                    {% if form.first_name.errors %}
                                      <div class="alert alert-danger alert-dismissible text-center" role="alert">{{ form.first_name.errors }}</div>
                                    {% endif %}
                                  <div class="form-group">
                                    <input type="text" class="form-control" name="first_name" placeholder="First Name" value="{{form.first_name.value|default:''}}" required>
                                  </div>
                                    {% if form.middle_initial.errors %}
                                      <div class="alert alert-danger alert-dismissible text-center" role="alert">{{ form.middle_initial.errors }}</div>
                                    {% endif %}
                                  <div class="form-group">
                                    <input type="text" class="form-control"name="middle_initial" maxlength="1" placeholder="Middle Initial" value="{{form.middle_initial.value|default:''}}" required>
                                  </div>
                                    {% if form.last_name.errors %}
                                      <div class="alert alert-danger alert-dismissible text-center" role="alert">{{ form.last_name.errors }}</div>
                                    {% endif %}
                                  <div class="form-group">
                                    <input type="text" class="form-control" name="last_name" placeholder="Last Name" value="{{form.last_name.value|default:''}}" required>
                                  </div>
                                    {% if form.email.errors %}
                                      <div class="alert alert-danger alert-dismissible text-center" role="alert">{{ form.email.errors }}</div>
                                    {% endif %}
                                  <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" value="{{form.email.value|default:''}}" required>
                                    <small id="email_stat" class="email_stat ml-3 d-none"></small>
                                  </div>
                                    {% if form.user_level.errors %}
                                      <div class="alert alert-danger alert-dismissible text-center" role="alert">{{ form.user_level.errors }}</div>
                                    {% endif %}
                                  <div class="form-group">
                                      <input type="hidden" class="form-control" name="user_level" value="{{form.user_level.initial}}" readonly>
                                  </div>
                                    {% if form.address.errors %}
                                      <div class="alert alert-danger alert-dismissible text-center" role="alert">{{ form.address.errors }}</div>
                                    {% endif %}
                                  <div class="form-group">
                                    <input type="text" class="form-control" name="address" placeholder="Address" value="{{form.address.value|default:''}}" required>
                                  </div>
                                    {% if form.password1.errors %}
                                      <div class="alert alert-danger alert-dismissible text-center" role="alert">{{ form.password1.errors }}</div>
                                    {% endif %}
                                  <div class="form-group">
                                    <input type="password" class="form-control" name="password1" placeholder="Password" required>
                                  </div>
                                    {% if form.password2.errors %}
                                      <div class="alert alert-danger alert-dismissible text-center" role="alert">{{ form.password2.errors }}</div>
                                    {% endif %}
                                  <div class="form-group">
                                    <input type="password" class="form-control" name="password2" placeholder="Confirm Password" required>
                                  </div>
<!--                                  <div class="form-group">-->
<!--                                    <div class="input-group">-->
<!--                                      <div class="custom-file">-->
<!--                                        <input type="file" class="custom-file-input" id="exampleInputFile">-->
<!--                                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>-->
<!--                                      </div>-->
<!--                                      <div class="input-group-append">-->
<!--                                        <span class="input-group-text" id="">Upload</span>-->
<!--                                      </div>-->
<!--                                    </div>-->
<!--                                  </div>-->
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                  <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                              </form>
                            </div>
                            <!-- /.card -->
                          </div>
                    </div><!-- /.container-fluid -->
                </section>
            </div>
            </div>
            <script src="{% static 'js/admin.js' %}"></script>
        </body>
    {% endblock %}
