{% extends 'base.html' %}
{% load static %}

    {% block content %}
        <body class="hold-transition sidebar-mini layout-fixed">
            <div class="wrapper">

            <!-- Navbar -->
            {% include 'admin/partials/_navbar.html' %}

            <!-- Main Sidebar Container -->
            {% include 'admin/partials/_main_sidebar.html' %}

            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                {% include 'admin/partials/_main_content_header.html' %}

                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="col-md-6">
                            <!-- general form elements -->
                            <div class="card card-primary">
                              <div class="card-header">
                                <h3 class="card-title">Student Registration Form</h3>
                              </div>
                              <!-- form start -->
                                <form method="POST" enctype="multipart/form-data">
                                    <div class="card-body">
                                        {% csrf_token %}
                                        {% if form.non_field_errors %}
                                          <div class="alert alert-danger alert-dismissible text-center" role="alert">{{ form.non_field_errors }}</div>
                                        {% endif %}
                                        {% if form.first_name.errors %}
                                          <div class="alert alert-danger alert-dismissible text-center" role="alert">{{ form.first_name.errors }}</div>
                                        {% endif %}
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="first_name" placeholder="First Name" value="{{form.first_name.value|default:''}}" required>
                                        </div>
                                        {% if form.middle_initial.errors %}
                                          <div class="alert alert-danger alert-dismissible text-center" role="alert">{{ form.middle_initial.errors }}</div>
                                        {% endif %}
                                        <div class="form-group">
                                            <input type="text" class="form-control"name="middle_initial" placeholder="Middle Initial"maxlength="1" value="{{form.middle_initial.value|default:''}}" required>
                                        </div>
                                        {% if form.last_name.errors %}
                                          <div class="alert alert-danger alert-dismissible text-center" role="alert">{{ form.last_name.errors }}</div>
                                        {% endif %}
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="last_name" placeholder="Last Name" value="{{form.last_name.value|default:''}}" required>
                                        </div>
                                        {% if form.email.errors %}
                                          <div class="alert alert-danger alert-dismissible text-center" role="alert">{{ form.email.errors }}</div>
                                        {% endif %}
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="email" placeholder="Enter email" value="{{form.email.value|default:''}}" required>
                                        </div>
                                        {% if form.level.errors %}
                                          <div class="alert alert-danger alert-dismissible text-center" role="alert">{{ form.level.errors }}</div>
                                        {% endif %}
                                        <div class="form-group">
                                            <select class="form-control" name="year_level">
                                                <option value="">-Select a Year Level-</option>
                                              {% for k, v in form.fields.year_level.choices %}
                                                <option value="{{k}}">{{v}}</option>
                                              {% endfor %}
                                            </select>
                                        </div>
                                        {% if form.section.errors %}
                                          <div class="alert alert-danger alert-dismissible text-center" role="alert">{{ form.section.errors }}</div>
                                        {% endif %}
                                        <div class="form-group">
                                            <select class="form-control" name="section">
                                              {% for k,v in form.fields.section.choices %}
                                                <option value="{{k}}" {% if k == '' %}selected{% endif %}>{{v}}</option>
                                              {% endfor %}
                                            </select>
                                        </div>
                                        {% if form.user_level.errors %}
                                          <div class="alert alert-danger alert-dismissible text-center" role="alert">{{ form.user_level.errors }}</div>
                                        {% endif %}
                                        <div class="form-group">
                                            <input type="hidden" class="form-control"name="user_level" placeholder="User Level" value="{{form.user_level.value|default:form.fields.user_level.initial}}" readonly>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="address" placeholder="Address" value="{{form.address.value|default:''}}">
                                        </div>
                                        {% if form.gender.errors %}
                                          <div class="alert alert-danger alert-dismissible text-center" role="alert">{{ form.gender.errors }}</div>
                                        {% endif %}
                                        <div class="form-group">
                                            <select class="form-control" name="gender">
                                              {% for k, v in form.fields.gender.choices %}
                                                <option value="{{k}}" {% if k == '' %}selected{% endif %}>{{v}}</option>
                                              {% endfor %}
                                            </select>
                                        </div>
                                        {% if form.password1.errors %}
                                          <div class="alert alert-danger alert-dismissible text-center" role="alert">{{ form.password1.errors }}</div>
                                        {% endif %}
                                        <div class="form-group">
                                            <input type="password" class="form-control" name="password1" placeholder="Password" required>
                                        </div>
                                        {% if form.password2.errors %}
                                          <div class="alert alert-danger alert-dismissible text-center" role="alert">{{ form.password2.errors }}</div>
                                        {% endif %}
                                        <div class="form-group">
                                            <input type="password" class="form-control" name="password2" placeholder="Confirm Password" required>
                                        </div>
                                        {% if form.course_id.errors %}
                                          <div class="alert alert-danger alert-dismissible text-center" role="alert">{{ form.course_id.errors }}</div>
                                        {% endif %}
                                        <div class="form-group">
                                            <select class="form-control" name="course_id" id="course_id">
                                                {% for k, v in form.fields.course_id.choices %}
                                                    <option value="{{k}}">{{v}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="dynamic-subject-container" id="course_subjects">
<!--                                            Subjects goes here-->
                                        </div>
                                        <div class="form-group">
                                            {% if not user_obj.profile_pic.url %}
                                                <img src="{{default_pic}}" alt="Profile Picture" style="width:100px; height: 100px">
                                            {% else %}
                                                <img src="{{user_obj.profile_pic.url}}" alt="Profile Picture" style="width:200px; height: 200px">
                                            {% endif %}
                                            <label for="profile_pic" style="margin-left: 10px">Profile Picture</label>
                                            <input type="file" id="profile_pic" class="form-control" name="profile_pic" placeholder="Profile Picture" style="padding: 3px">
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control" name="school_year" placeholder="School Year">
                                                <option value="">-Select a School Year-</option>
                                                {% for sy in school_year %}
                                                    <option value="{{sy.id}}">{{sy.get_school_year}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input class="btn btn-primary" type="submit" value="Submit">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div><!-- /.container-fluid -->
                </section>
            </div>
            </div>
            <script src="/static/plugins/jquery/jquery.min.js"></script>
            <script>
                document.getElementById("course_id").addEventListener("change", getSubjects);

                function getSubjects() {
                    var id = document.getElementById("course_id").value;
                    console.log("the course_id is: "+id);
                    var xhr = new XMLHttpRequest();
<!--                    var jsonstr = {'course_id': id};-->
                    var data = JSON.stringify({'course_id': id});
                    console.log("the data stringified is: "+data);

                    document.getElementById("course_subjects").innerHTML = '';

                    xhr.open("POST", "{% url 'ajax-get-subjects' %}", true);
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.onload = function() {
                        if (this.status == 200) {
                            var courseSubjects = JSON.parse(this.responseText);

                            var htmlBlock = "";

                            courseSubjects.forEach(renderSubjects);

                            function renderSubjects(subject) {
                                console.log(subject);
                                htmlBlock += '<div class="form-group"><input type="checkbox" name="subject_list" id="subject_'+subject.fields.subject_name +
                                '" value="'+subject.pk+'">' +
                                '<label for="subject_'+subject.fields.subject_name+'" class="ml-1">' +
                                subject.fields.subject_name + '</label></div>'
                            }

<!--                            console.log(courseSubjects);-->
                                htmlBlock += '<div><input type="text" name="stat" id="stat" value="ok"></div>'
                                document.getElementById("course_subjects").innerHTML = htmlBlock;

                        }
                        else {
                            console.log("Error fetching subjects");
                        }
                    };

<!--                    console.log(data);-->
                    xhr.send(data);
                }
            </script>
        </body>
    {% endblock %}
